.footer {
    background-color: #333333;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 99px;

}

.pagination {
    margin-bottom: 5rem !important;
}

.wimma img {
    width: 70%;
    margin-top: 7%;
    display: block;
}

.jamk img {
    width: 125%;
margin-top: 7%;
    float: right;
    display: block;
}

.footerlogo {
    width: 90%;
}

.wimma {
    float: left;
    width: 25%;
    display: inline-block;
    align-items: center;
}

.jamk {
    float: right;
    width: 25%;
    display: inline-block;
    align-items: center;
}

